[submodule "lib/eigen"]
	path = lib/eigen
	url = https://github.com/libigl/eigen.git
[submodule "lib/cereal"]
	path = lib/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "lib/annoy"]
	path = lib/annoy
	url = https://github.com/FuexFollets/annoy.git
	branch = serialization
